<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licence Plate Recognization</title>
</head>
<body>
    <div class="input-content">
        <form  method="post">
            <label for="Licence Number">
                Licence Number :
            </label>
            <input type="text" name="Licence_number" required>
            <!-- <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple name="image">
              </div> -->
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>